* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /*  1 rem = 10 px */
  height: 100%; }

body {
  font-family: "roboto" sans serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color: #034574; }

.grid__container {
  display: grid;
  gap: 1rem;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 60px auto 60px; }

@media (min-width: 600px) {
  .grid__container {
    grid-template: "header" 80px "main" auto "footer" 100px; } }

@media (min-width: 900px) {
  .grid__container {
    grid-template: "header" 100px "main" auto "footer" 50px; } }

.footer {
  grid-area: footer;
  background-color: #034574;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bold;
  font-family: cursive;
  padding: 3rem; }

@media (min-width: 600px) {
  .footer {
    font-size: 1rem;
    font-weight: 200; } }

@media (min-width: 900px) {
  .footer {
    font-size: 2rem;
    font-weight: 100; } }

@media (max-width: 8500px) {
  .header {
    background-color: #034574;
    height: 10rem; }
    .header .nav {
      display: flex;
      justify-content: space-between;
      max-width: 2400px;
      margin: 0 auto; }
    .header .nav-link {
      color: #eeeeee;
      text-decoration: none; }
    .header .logo {
      color: #eeeeee;
      font-size: 3.5rem;
      font-weight: bold;
      padding: 0 4rem;
      line-height: 10rem; }
    .header .nav-menu {
      display: flex;
      font-weight: 900;
      margin-right: 4rem;
      list-style: none; }
    .header .nav-menu-item {
      font-size: 2rem;
      margin: 0 1.5rem;
      padding: 0.8rem 0.12rem;
      text-transform: uppercase; }
    .header .nav-menu-link {
      padding: 0.8 rem 1.2rem;
      border-radius: 0.5rem; }
    .header .nav-menu-link:hover {
      transition: 0.5s;
      background-color: #011b2e;
      color: #034574; }
    .header .nav-toggle {
      color: #eeeeee;
      background: none;
      border: none;
      font-size: 3rem;
      padding: 0 2rem;
      line-height: 10rem;
      cursor: pointer;
      display: none; } }

@media (min-width: 600px) {
  .header {
    background-color: #034574;
    height: 8rem; }
    .header .nav {
      display: flex;
      justify-content: space-between;
      max-width: 240rem;
      margin: 0 auto; }
      .header .nav .logo {
        font-size: 2rem;
        font-weight: bold;
        padding: 0 4rem;
        line-height: 8rem; }
    .header .nav-link {
      color: #eeeeee;
      text-decoration: none; }
    .header .nav-menu {
      display: flex;
      margin-right: 4rem;
      list-style-type: none; }
    .header .nav-menu-item {
      font-size: 2rem;
      margin: 0 1rem;
      line-height: 10rem;
      text-transform: uppercase;
      font-weight: bold;
      width: max-content; }
    .header .nav-menu-link:hover {
      background-color: #011b2e;
      transition: 0.5s; }
    .header .nav-toggle {
      line-height: 8rem;
      display: block; } }

@media (max-width: 600px) {
  .header .logo {
    font-size: 1.2rem;
    padding: 0 2rem;
    line-height: 6rem; }
  .header .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    list-style: none;
    position: fixed;
    left: 0;
    top: 6.5rem;
    width: 100%;
    padding: 2rem 0;
    height: calc(100% - 6rem);
    overflow-y: auto;
    left: 100%;
    transition: left 0.5s;
    background-color: #011b2e;
    z-index: 10; }
  .header .nav-menu-item {
    font-size: 2rem;
    margin: 0 1.5rem;
    line-height: 6rem;
    text-transform: uppercase; }
  .header .nav-menu-link {
    padding: 0.8 rem 1.2rem;
    border-radius: 0.5rem; }
  .header .nav-menu-link:hover {
    background: none;
    color: #034574;
    transition: 0.5s; }
  .header .nav-toggle {
    display: block;
    line-height: 6rem;
    font-size: 1.2rem; }
  .header .nav-menu_visible {
    left: 0; } }

.aboutme .aboutme__title {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "roboto" sans serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-transform: uppercase;
  color: #034574; }

.aboutme .aboutme__img {
  display: flex;
  border-radius: 3rem;
  padding: 5rem;
  height: 30rem;
  width: 30rem; }

.aboutme .aboutme__me {
  margin: 2rem;
  padding: 3rem;
  border: 0.3rem solid #034574; }
  .aboutme .aboutme__me .aboutme__me--pregunta {
    font-size: 1.3rem;
    color: #eeeeee;
    display: flex;
    justify-content: center;
    text-transform: uppercase; }
  .aboutme .aboutme__me .aboutme__me--respuesta {
    font-size: 1.3rem;
    color: #222; }
  .aboutme .aboutme__me .aboutme__thx {
    font-size: 2rem; }

@media (min-width: 600px) {
  .aboutme .aboutme__title {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "roboto" sans serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-transform: uppercase;
    color: #034574; }
  .aboutme .aboutme__img {
    display: flex;
    border-radius: 3rem;
    padding: 5rem;
    height: 20rem;
    width: 20rem; }
  .aboutme .aboutme__me {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #034574; }
    .aboutme .aboutme__me .aboutme__me--pregunta {
      font-size: 3rem;
      color: #eeeeee;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      text-transform: uppercase; }
    .aboutme .aboutme__me .aboutme__me--respuesta {
      font-size: 3rem;
      color: #222;
      display: flex;
      justify-content: center; } }

@media (min-width: 960px) {
  .aboutme .aboutme__title {
    font-size: 5rem;
    font-weight: bold;
    font-family: "roboto" sans serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-transform: uppercase;
    color: #034574; }
  .aboutme .aboutme__img {
    display: flex;
    align-content: center;
    width: 50rem;
    height: 50rem;
    margin-top: 12rem;
    margin-right: -30rem; }
  .aboutme .aboutme__me {
    margin: 5rem;
    padding: 3rem;
    border: 1rem solid #034574;
    box-shadow: 1.6rem 1.6rem 1.6rem black; }
    .aboutme .aboutme__me .aboutme__me--pregunta {
      font-size: 5rem;
      color: #eeeeee;
      display: flex;
      justify-content: center; }
    .aboutme .aboutme__me .aboutme__me--respuesta {
      font-size: 5rem;
      color: #222; } }

.Allies {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Allies .Allies__title {
    font-size: 2rem;
    color: #034574;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 3rem; }
  .Allies .Allies__img1 {
    display: flex;
    justify-content: center;
    padding: 5rem;
    transform: transition 0.5s; }
  .Allies .Allies__img1:hover {
    filter: grayscale(100%); }
  .Allies .Allies__img2 {
    display: flex;
    justify-content: center;
    padding: 5rem;
    transform: transition 0.5s; }
  .Allies .Allies__img2:hover {
    filter: grayscale(100%); }
  .Allies .Allies__img3 {
    display: flex;
    justify-content: center;
    padding: 5rem;
    transform: transition 0.5s; }
  .Allies .Allies__img3:hover {
    filter: grayscale(100%); }

@media (min-width: 600px) {
  .Allies {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .Allies .Allies__title {
      font-size: 2rem;
      color: #034574;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding: 3rem; }
    .Allies .Allies__img1 {
      display: flex;
      justify-content: center;
      padding: 3rem;
      transform: transition 0.5s; }
    .Allies .Allies__img1:hover {
      filter: grayscale(100%); }
    .Allies .Allies__img2 {
      display: flex;
      justify-content: center;
      padding: 3rem;
      transform: transition 0.5s; }
    .Allies .Allies__img2:hover {
      filter: grayscale(100%); }
    .Allies .Allies__img3 {
      display: flex;
      justify-content: center;
      padding: 3rem;
      transform: transition 0.5s; }
    .Allies .Allies__img3:hover {
      filter: grayscale(100%); } }

@media (min-width: 960px) {
  .Allies {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .Allies .Allies__title {
      font-size: 5rem;
      color: #034574;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding: 5rem; }
    .Allies .Allies__img1 {
      display: flex;
      justify-content: center;
      padding: 5rem;
      transform: transition 0.5s; }
    .Allies .Allies__img1:hover {
      filter: grayscale(100%); }
    .Allies .Allies__img2 {
      display: flex;
      justify-content: center;
      padding: 5rem;
      transform: transition 0.5s; }
    .Allies .Allies__img2:hover {
      filter: grayscale(100%); }
    .Allies .Allies__img3 {
      display: flex;
      justify-content: center;
      padding: 5rem;
      transform: transition 0.5s; }
    .Allies .Allies__img3:hover {
      filter: grayscale(100%); } }

.Axis {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Axis .Axis__title {
    font-size: 2rem;
    color: #034574;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 3rem; }
  .Axis .Axis__img1 {
    display: flex;
    justify-content: center;
    padding: 5rem;
    transform: transition 0.5s; }
  .Axis .Axis__img1:hover {
    filter: grayscale(100%); }
  .Axis .Axis__img2 {
    display: flex;
    justify-content: center;
    padding: 5rem;
    transform: transition 0.5s; }
  .Axis .Axis__img2:hover {
    filter: grayscale(100%); }
  .Axis .Axis__img3 {
    display: flex;
    justify-content: center;
    padding: 5rem;
    transform: transition 0.5s; }
  .Axis .Axis__img3:hover {
    filter: grayscale(100%); }

@media (min-width: 600px) {
  .Axis {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .Axis .Axis__title {
      font-size: 2rem;
      color: #034574;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding: 3rem; }
    .Axis .Axis__img1 {
      display: flex;
      justify-content: center;
      padding: 3rem;
      transform: transition 0.5s; }
    .Axis .Axis__img1:hover {
      filter: grayscale(100%); }
    .Axis .Axis__img2 {
      display: flex;
      justify-content: center;
      padding: 3rem;
      transform: transition 0.5s; }
    .Axis .Axis_img2:hover {
      filter: grayscale(100%); }
    .Axis .Axis__img3 {
      display: flex;
      justify-content: center;
      padding: 3rem;
      transform: transition 0.5s; }
    .Axis .Axis__img3:hover {
      filter: grayscale(100%); } }

@media (min-width: 960px) {
  .Axis {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .Axis .Axis__title {
      font-size: 5rem;
      color: #034574;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding: 5rem; }
    .Axis .Axis__img1 {
      display: flex;
      justify-content: center;
      padding: 5rem;
      transform: transition 0.5s; }
    .Axis .Axis__img1:hover {
      filter: grayscale(100%); }
    .Axis .Axis__img2 {
      display: flex;
      justify-content: center;
      padding: 5rem;
      transform: transition 0.5s; }
    .Axis .Axis__img2:hover {
      filter: grayscale(100%); }
    .Axis .Axis__img3 {
      display: flex;
      justify-content: center;
      padding: 5rem;
      transform: transition 0.5s; }
    .Axis .Axis__img3:hover {
      filter: grayscale(100%); } }

.Commitern {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Commitern .Commitern__title {
    font-size: 2rem;
    color: #034574;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 3rem; }
  .Commitern .Commitern__img1 {
    display: flex;
    justify-content: center;
    padding: 5rem;
    transform: transition 0.5s; }
  .Commitern .Commitern__img1:hover {
    filter: grayscale(100%); }

@media (min-width: 600px) {
  .Commitern {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .Commitern .Commitern__title {
      font-size: 2rem;
      color: #034574;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding: 3rem; }
    .Commitern .Commitern__img1 {
      display: flex;
      justify-content: center;
      padding: 3rem;
      transform: transition 0.5s; }
    .Commitern .Commitern__img1:hover {
      filter: grayscale(100%); } }

@media (min-width: 960px) {
  .Commitern {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .Commitern .Commitern__title {
      font-size: 5rem;
      color: #034574;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      padding: 5rem; }
    .Commitern .Commitern__img1 {
      display: flex;
      justify-content: center;
      padding: 5rem;
      transform: transition 0.5s; }
    .Commitern .Commitern__img1:hover {
      filter: grayscale(100%); } }

.contact__title {
  font-size: 2.5rem;
  color: #034574;
  display: flex;
  justify-content: center;
  padding: 5rem;
  text-transform: uppercase; }

@media (min-width: 600px) {
  .contact__title {
    font-size: 2rem;
    color: #034574;
    display: flex;
    justify-content: center;
    padding: 5rem;
    text-transform: uppercase; }
  .contact__space {
    padding: 5rem; } }

@media (min-width: 960px) {
  .contact__title {
    padding: 5rem;
    font-size: 5rem; }
  .contact__space {
    padding: 5rem; } }

.gallery {
  display: flex;
  flex-direction: column; }
  .gallery .title_gal {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #034574; }
  .gallery .gallery__allies {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 3rem; }
    .gallery .gallery__allies .gallery__allies .gallery__allies--links {
      display: flex;
      justify-content: space-between; }
  .gallery .gallery__allies--GBR:hover {
    color: #008000;
    font-weight: 900;
    transition: 0.5s; }
  .gallery .gallery__allies--USA:hover {
    color: #5f9ea0;
    font-weight: 900;
    transition: 0.5s; }
  .gallery .gallery__allies--FRA:hover {
    color: #2222db;
    font-weight: 900;
    transition: 0.5s; }
  .gallery .gallery__allies--SOV:hover {
    color: #f12828;
    font-weight: 900;
    transition: 0.5s; }
  .gallery .gallery__axis {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 3rem; }
  .gallery .gallery__axis--GER:hover {
    color: #1a1919;
    font-weight: 900;
    transition: 0.5s; }
  .gallery .gallery__axis--ITA:hover {
    color: #81f011;
    font-weight: 900;
    transition: 0.5s; }
  .gallery .gallery__axis--JAP:hover {
    color: #e2e215;
    font-weight: 900;
    transition: 0.5s; }

@media (min-width: 600px) {
  .gallery {
    display: flex;
    flex-direction: column; }
    .gallery .title_gal {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      margin-bottom: 3rem; }
    .gallery .gallery__allies {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      font-size: 1.9rem;
      text-transform: uppercase;
      padding: 3rem; }
      .gallery .gallery__allies .gallery__allies .gallery__allies--links {
        display: flex;
        justify-content: space-between; }
    .gallery .gallery__axis {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      font-size: 1.9rem;
      padding: 3rem;
      text-transform: uppercase; } }

@media (min-width: 960px) {
  .gallery {
    display: flex;
    flex-direction: column; }
    .gallery .title_gal {
      font-size: 5rem;
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      margin-bottom: 3rem; }
    .gallery .gallery__allies {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      padding: 3rem; }
      .gallery .gallery__allies .gallery__allies .gallery__allies--links {
        display: flex;
        justify-content: space-between; }
    .gallery .gallery__axis {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      padding: 3rem; } }

.France {
  font-family: recursive;
  padding: 3rem; }
  .France .France__title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .France .France__title:hover {
    color: #2222db;
    font-weight: 700;
    transition: 1s; }
  .France .France__text {
    color: #2222db;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0.1rem;
    padding-left: 2rem; }
  .France .France__img {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem; }
  .France .hr {
    border: 0.5rem solid;
    display: block;
    color: #034574; }

@media (min-width: 600px) {
  .France .France__title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .France .France__title:hover {
    color: #2222db;
    font-weight: 700;
    transition: 1s; }
  .France .France__text {
    color: #2222db;
    font-size: 1.6rem;
    display: flex;
    justify-content: center; } }

@media (min-width: 960px) {
  .France .France__title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .France .France__title:hover {
    color: #2222db;
    font-weight: 700;
    transition: 1s; }
  .France .France__text {
    color: #2222db;
    font-size: 3.6rem;
    display: flex;
    justify-content: center; }
  .France .France__img {
    display: flex;
    justify-content: center; } }

.GBR .GBR__title {
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: #034574;
  text-transform: uppercase; }

.GBR .GBR__title:hover {
  color: #008000;
  font-weight: 700;
  transition: 1s; }

.GBR .GBR__text {
  color: #008000;
  font-size: 1.6rem;
  display: flex;
  justify-content: center; }

.GBR .hr {
  border: 0.5rem solid;
  display: block;
  color: #034574; }

@media (min-width: 600px) {
  .GBR .GBR__title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .GBR .GBR__title:hover {
    color: #008000;
    font-weight: 700;
    transition: 1s; }
  .GBR .GBR__text {
    color: #008000;
    font-size: 1.6rem;
    display: flex;
    justify-content: center; } }

@media (min-width: 960px) {
  .GBR {
    padding: 5rem; }
    .GBR .GBR__title {
      display: flex;
      justify-content: center;
      font-size: 5rem;
      padding: 5rem;
      color: #034574;
      text-transform: uppercase; }
    .GBR .GBR__title:hover {
      color: #008000;
      font-weight: 700;
      transition: 1s; }
    .GBR .GBR__text {
      color: #008000;
      font-size: 3.6rem;
      display: flex;
      justify-content: center; }
    .GBR .GBR__img {
      display: flex;
      justify-content: center; } }

.Germany .Germany__title {
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: #034574;
  text-transform: uppercase; }

.Germany .Germany__title:hover {
  color: #1a1919;
  font-weight: 700;
  transition: 1s; }

.Germany .Germany__text {
  color: #1a1919;
  font-size: 1.6rem;
  display: flex;
  justify-content: center; }

.Germany .hr {
  border: 0.5rem solid;
  display: block;
  color: #034574; }

@media (min-width: 600px) {
  .Germany .Germany__title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .Germany .Germany__title:hover {
    color: #1a1919;
    font-weight: 700;
    transition: 1s; }
  .Germany .Germany__text {
    color: #1a1919;
    font-size: 1.6rem;
    display: flex;
    justify-content: center; } }

@media (min-width: 960px) {
  .Germany .Germany__title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .Germany .Germany__title:hover {
    color: #1a1919;
    font-weight: 700;
    transition: 1s; }
  .Germany .Germany__text {
    color: #1a1919;
    font-size: 3.6rem;
    display: flex;
    justify-content: center; }
  .Germany .Germany__img {
    display: flex;
    justify-content: center;
    align-content: center; } }

.Italy .Italy__title {
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: #034574;
  text-transform: uppercase; }

.Italy .Italy__title:hover {
  color: #81f011;
  font-weight: 700;
  transition: 1s; }

.Italy .Italy__text {
  color: #81f011;
  font-size: 1.6rem;
  display: flex;
  justify-content: center; }

.Italy .hr {
  border: 0.5rem solid;
  display: block;
  color: #034574; }

@media (min-width: 600px) {
  .Italy .Italy__title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .Italy .Italy__title:hover {
    color: #81f011;
    font-weight: 700;
    transition: 1s; }
  .Italy .Italy__text {
    color: #81f011;
    font-size: 1.6rem;
    display: flex;
    justify-content: center; } }

@media (min-width: 960px) {
  .Italy .Italy__title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .Italy .Italy__title:hover {
    color: #81f011;
    font-weight: 700;
    transition: 1s; }
  .Italy .Italy__text {
    color: #81f011;
    font-size: 3.6rem;
    display: flex;
    justify-content: center; }
  .Italy .Italy__img {
    display: flex;
    justify-content: center;
    align-content: center; } }

.Japan .Japan__title {
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: #034574;
  text-transform: uppercase; }

.Japan .Japan__title:hover {
  color: #e2e215;
  font-weight: 700;
  transition: 1s; }

.Japan .Japan__text {
  color: #e2e215;
  font-size: 1.6rem;
  display: flex;
  justify-content: center; }

.Japan .hr {
  border: 0.5rem solid;
  display: block;
  color: #034574; }

@media (min-width: 600px) {
  .Japan .Japan__title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .Japan .Japan__title:hover {
    color: #e2e215;
    font-weight: 700;
    transition: 1s; }
  .Japan .Japan__text {
    color: #e2e215;
    font-size: 1.6rem;
    display: flex;
    justify-content: center; } }

@media (min-width: 960px) {
  .Japan .Japan__title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .Japan .Japan__title:hover {
    color: #e2e215;
    font-weight: 700;
    transition: 1s; }
  .Japan .Japan__text {
    color: #e2e215;
    font-size: 3.6rem;
    display: flex;
    justify-content: center; }
  .Japan .Japan__img {
    display: flex;
    justify-content: center;
    align-content: center; } }

.SOV .SOV__title {
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: #034574;
  text-transform: uppercase; }

.SOV .SOV__title:hover {
  color: #f12828;
  font-weight: 700;
  transition: 1s; }

.SOV .SOV__text {
  color: #f12828;
  font-size: 1.6rem;
  display: flex;
  justify-content: center; }

.SOV .hr {
  border: 0.5rem solid;
  display: block;
  color: #034574; }

@media (min-width: 600px) {
  .SOV .SOV__title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .SOV .SOV__title:hover {
    color: #f12828;
    font-weight: 700;
    transition: 1s; }
  .SOV .SOV__text {
    color: #f12828;
    font-size: 1.6rem;
    display: flex;
    justify-content: center; } }

@media (min-width: 960px) {
  .SOV .SOV__title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .SOV .SOV__title:hover {
    color: #f12828;
    font-weight: 700;
    transition: 1s; }
  .SOV .SOV__text {
    color: #f12828;
    font-size: 3.6rem;
    display: flex;
    justify-content: center; }
  .SOV .SOV__img {
    display: flex;
    justify-content: center;
    align-content: center; } }

.USA .USA__title {
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: #034574;
  text-transform: uppercase; }

.USA .USA__title:hover {
  color: #5f9ea0;
  font-weight: 700;
  transition: 1s; }

.USA .USA__text {
  color: #5f9ea0;
  font-size: 1.6rem;
  display: flex;
  justify-content: center; }

.USA .hr {
  border: 0.5rem solid;
  display: block;
  color: #034574; }

@media (min-width: 600px) {
  .USA .USA__title {
    display: flex;
    justify-content: center;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .USA .USA__title:hover {
    color: #f12828;
    font-weight: 700;
    transition: 1s; }
  .USA .USA__text {
    color: #5f9ea0;
    font-size: 1.6rem;
    display: flex;
    justify-content: center; } }

@media (min-width: 960px) {
  .USA .USA__title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 3rem;
    color: #034574;
    text-transform: uppercase; }
  .USA .USA__title:hover {
    color: #5f9ea0;
    font-weight: 700;
    transition: 1s; }
  .USA .USA__text {
    color: #5f9ea0;
    font-size: 3.6rem;
    display: flex;
    justify-content: center; }
  .USA .USA__img {
    display: flex;
    justify-content: center;
    align-items: center; } }

.main {
  grid-area: main;
  background-color: #708090; }

@media (max-width: 600px) {
  .main .title {
    color: #034574;
    display: flex;
    margin: 2rem;
    justify-content: center; }
    .main .title .title__text {
      font-size: 1.2rem; }
  .main .imgmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    gap: 5rem;
    text-transform: uppercase; }
    .main .imgmenu .img__link--axis {
      font-size: 1.6rem;
      text-decoration: none;
      color: #1a1919;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 1.6s;
      transform: translate(50%, 650%); }
    .main .imgmenu .img__link--axis:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img1 {
      height: 15rem;
      transition: height 1s, width 1.5s;
      border-radius: 1.6rem;
      box-shadow: 1.6rem 1.6rem 1.6rem black;
      margin-left: 5rem; }
    .main .imgmenu .imgmenu__img1:hover {
      filter: grayscale(100%); }
    .main .imgmenu .imgmenu__img2 {
      height: 15rem;
      transition: height 1s, width 1.5s;
      border-radius: 0.6rem;
      box-shadow: 0.6rem 0.6rem 0.6rem black; }
    .main .imgmenu .img__link--allies {
      font-size: 1.6rem;
      text-decoration: none;
      color: #5f9ea0;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 0.6s;
      transform: translate(0%, 520%); }
    .main .imgmenu .img__link--allies:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img2:hover {
      filter: grayscale(100%); }
    .main .imgmenu .img__link--com {
      font-size: 1.6rem;
      text-decoration: none;
      color: #f12828;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 1.6s;
      transform: translate(0%, 520%); }
    .main .imgmenu .img__link--com:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img3 {
      height: 15rem;
      transition: height 1s, width 1.5s;
      border-radius: 0.6rem;
      box-shadow: 0.6rem 0.6rem 0.6rem black; }
    .main .imgmenu .imgmenu__img3:hover {
      filter: grayscale(100%); } }

@media (min-width: 600px) {
  .main .title {
    color: #034574;
    display: flex;
    margin: 5rem;
    justify-content: center; }
    .main .title .title__text {
      font-size: 3rem; }
  .main .imgmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    gap: 5rem;
    text-transform: uppercase; }
    .main .imgmenu .img__link--axis {
      font-size: 2rem;
      text-decoration: none;
      color: #1a1919;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 1.6s;
      transform: translate(0%, 490%); }
    .main .imgmenu .img__link--axis:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img1 {
      height: 15rem;
      transition: height 1s, width 1.5s;
      border-radius: 1.6rem;
      box-shadow: 1.6rem 1.6rem 1.6rem black;
      margin-left: 5rem; }
    .main .imgmenu .imgmenu__img1:hover {
      filter: grayscale(100%); }
    .main .imgmenu .imgmenu__img2 {
      height: 15rem;
      transition: height 1s, width 1.5s;
      border-radius: 0.6rem;
      box-shadow: 0.6rem 0.6rem 0.6rem black; }
    .main .imgmenu .img__link--allies {
      font-size: 2rem;
      text-decoration: none;
      color: #5f9ea0;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 1.6s;
      transform: translate(0%, 490%); }
    .main .imgmenu .img__link--allies:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img2:hover {
      filter: grayscale(100%); }
    .main .imgmenu .img__link--com {
      font-size: 2rem;
      text-decoration: none;
      color: #f12828;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 1.6s;
      transform: translate(0%, 490%); }
    .main .imgmenu .img__link--com:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img3 {
      height: 15rem;
      transition: height 1s, width 1.5s;
      border-radius: 0.6rem;
      box-shadow: 0.6rem 0.6rem 0.6rem black; }
    .main .imgmenu .imgmenu__img3:hover {
      filter: grayscale(100%); } }

@media (min-width: 960px) {
  .main .title {
    color: #034574; }
    .main .title .title__text {
      font-size: 5rem;
      font-weight: 900;
      font-family: recursive; }
    .main .title .title:hover {
      transition: 0.3s; }
  .main .imgmenu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10rem auto; }
    .main .imgmenu .img__link--axis {
      font-size: 5rem;
      text-decoration: none;
      color: #1a1919;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 1.6s;
      transform: translate(0%, 380%); }
    .main .imgmenu .img__link--axis:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img1 {
      height: 30rem;
      transition: height 1s, width 1.5s;
      border-radius: 1.6rem;
      box-shadow: 1.6rem 1.6rem 1.6rem black;
      margin-left: 5rem; }
    .main .imgmenu .imgmenu__img1:hover {
      filter: grayscale(100%); }
    .main .imgmenu .img__link--allies {
      font-size: 5rem;
      text-decoration: none;
      color: #5f9ea0;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 1.6s;
      transform: translate(0%, 380%); }
    .main .imgmenu .img__link--allies:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img2 {
      height: 30rem;
      transition: height 1s, width 1.5s;
      border-radius: 1.6rem;
      box-shadow: 1.6rem 1.6rem 1.6rem black; }
    .main .imgmenu .imgmenu__img2:hover {
      filter: grayscale(100%); }
    .main .imgmenu .img__link--com {
      font-size: 5rem;
      text-decoration: none;
      color: #f12828;
      background-color: #034574;
      border-radius: 3rem;
      font-family: recursive;
      text-align: center;
      transition: transform 1.6s;
      transform: translate(0%, 380%); }
    .main .imgmenu .img__link--com:hover {
      transform: translateY(255px); }
    .main .imgmenu .imgmenu__img3 {
      height: 30rem;
      transition: height 1s, width 1.5s;
      border-radius: 1.6rem;
      box-shadow: 1.6rem 1.6rem 1.6rem black; }
    .main .imgmenu .imgmenu__img3:hover {
      filter: grayscale(100%); } }
