// colores esqueleto y letras //

$color-body: #708090;
$color-primary: #034574;
$color-blanco: #eeeeee;
$color-negro: #222;
$color-botonera: #011b2e;
$color-botonera2: #0c0c81;
// Colores Naciones //
$color-usa: #5f9ea0;
$color-gbr: #008000;
$color-fra: #2222db;
$color-sov: #7e1212a2;
$color-ger: #1a1919;
$color-jap: #e2e215;
$color-ita: #81f011;

//        CONDICIONALES    //
