// M O B I L E //
.aboutme {
  .aboutme__title {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "roboto" sans serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-transform: uppercase;
    color: $color-primary;
  }
  .aboutme__img {
    display: flex;
    border-radius: 3rem;
    padding: 5rem;
    height: 30rem;
    width: 30rem;
  }

  .aboutme__me {
    margin: 2rem;
    padding: 3rem;
    border: 0.3rem solid $color-primary;

    .aboutme__me--pregunta {
      font-size: 1.3rem;
      color: $color-blanco;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }
    .aboutme__me--respuesta {
      font-size: 1.3rem;
      color: $color-negro;
    }
    .aboutme__thx {
      font-size: 2rem;
    }
  }
}
//  TABLET //
@media (min-width: 600px) {
  .aboutme {
    padding: 2rem;
    .aboutme__title {
      font-size: 1.6rem;
      font-weight: bold;
      font-family: "roboto" sans serif;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5rem;
      text-transform: uppercase;
      color: $color-primary;
    }
    .aboutme__img {
      display: flex;
      border-radius: 3rem;
      padding: 5rem;
      height: 20rem;
      width: 20rem;
    }

    .aboutme__me {
      margin: 0.5rem;
      padding: 0.5rem;
      box-shadow: 1.6rem 1.6rem 1.6rem black;
      .aboutme__me--pregunta {
        font-size: 2rem;
        color: $color-blanco;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        text-transform: uppercase;
      }
      .aboutme__me--respuesta {
        font-size: 2rem;
        color: $color-negro;
        display: flex;
        justify-content: center;
      }
    }
  }
}

//  ESCRITORIO  //
@media (min-width: 960px) {
  .aboutme {
    .aboutme__title {
      font-size: 5rem;
      font-weight: bold;
      font-family: "roboto" sans serif;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5rem;
      text-transform: uppercase;
      color: $color-primary;
    }
    .aboutme__img {
      display: flex;
      align-content: center;
      width: 50rem;
      height: 50rem;
      margin-top: 12rem;
      margin-right: -30rem;
    }

    .aboutme__me {
      margin: 5rem;
      padding: 3rem;
      border: 1rem solid $color-primary;
      box-shadow: 1.6rem 1.6rem 1.6rem black;
      .aboutme__me--pregunta {
        font-size: 5rem;
        color: $color-blanco;
        display: flex;
        justify-content: center;
      }
      .aboutme__me--respuesta {
        font-size: 5rem;
        color: $color-negro;
      }
    }
  }
}
