//       D E S K T O P    M O D E                     //
@media (max-width: 8500px) {
  .header {
    background-color: $color-primary;

    height: 10rem;
    .nav {
      display: flex;
      justify-content: space-between;
      max-width: 2400px;
      margin: 0 auto;
    }

    .nav-link {
      color: $color-blanco;
      text-decoration: none;
    }

    .logo {
      color: $color-blanco;
      font-size: 3.5rem;
      font-weight: bold;
      padding: 0 4rem;
      line-height: 10rem;
    }

    .nav-menu {
      display: flex;
      font-weight: 900;
      margin-right: 4rem;
      list-style: none;
    }
    .nav-menu-item {
      font-size: 2rem;
      margin: 0 1.5rem;
      padding: 0.8rem 0.12rem;
      text-transform: uppercase;
    }

    .nav-menu-link {
      padding: 0.8 rem 1.2rem;
      border-radius: 0.5rem;
    }
    .nav-menu-link:hover {
      transition: 0.5s;
      background-color: $color-botonera;
      color: $color-primary;
    }

    .nav-toggle {
      color: $color-blanco;
      background: none;
      border: none;
      font-size: 3rem;
      padding: 0 2rem;
      line-height: 10rem;
      cursor: pointer;
      display: none;
    }
  }
}

//        T A B L E T     M O D E                     //
@media (min-width: 600px) {
  .header {
    background-color: $color-primary;
    height: 8rem;
    .nav {
      display: flex;
      justify-content: space-between;
      max-width: 240rem;
      margin: 0 auto;
      .logo {
        font-size: 2rem;
        font-weight: bold;
        padding: 0 4rem;
        line-height: 8rem;
      }
    }
    .nav-link {
      color: $color-blanco;
      text-decoration: none;
    }
    .nav-menu {
      display: flex;
      margin-right: 4rem;
      list-style-type: none;
    }
    .nav-menu-item {
      font-size: 2rem;
      margin: 0 1rem;
      line-height: 10rem;
      text-transform: uppercase;
      font-weight: bold;
      width: max-content;
    }

    .nav-menu-link:hover {
      background-color: $color-botonera;
      transition: 0.5s;
    }
    .nav-toggle {
      line-height: 8rem;
      display: block;
    }
  }
}

// MOBILE  //
@media (max-width: 600px) {
  .header {
    .logo {
      font-size: 1.2rem;
      padding: 0 2rem;
      line-height: 6rem;
    }

    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      list-style: none;
      position: fixed;
      left: 0;
      top: 6.5rem;
      width: 100%;
      padding: 2rem 0;
      height: calc(100% - 6rem);
      overflow-y: auto;
      left: 100%;
      transition: left 0.5s;
      background-color: $color-botonera;
      z-index: 10;
    }
    .nav-menu-item {
      font-size: 2rem;
      margin: 0 1.5rem;
      line-height: 6rem;
      text-transform: uppercase;
    }

    .nav-menu-link {
      padding: 0.8 rem 1.2rem;
      border-radius: 0.5rem;
    }
    .nav-menu-link:hover {
      background: none;
      color: $color-primary;
      transition: 0.5s;
    }

    .nav-toggle {
      display: block;
      line-height: 6rem;
      font-size: 1.2rem;
    }
    .nav-menu_visible {
      left: 0;
    }
  }
}
